<!--#include file="includes/preamble.html" -->


	<!--#include file="includes/navbar.html" -->
	

	<!--#include file="includes/header.html" -->


	<div class="w3-content">

		
		<div class="w3-container w3-section">
            <div class="w3-container w3-section contact-text">

				<div class="w3-container w3-section contact-preamble-box">
					<p class="contact-preamble">${custom_text---contact_preamble}</p>
				</div><!-- contact-preamble-box -->

				<div class="contact-panel w3-container w3-card-4 w3-light-grey w3-margin">
					<div class="w3-row" style="padding: 32px;">
						<div class="w3-col w3-half contact-address-box">
							<div class="w3-row">
								<div class="w3-col w3-text-blue" style="width:50px; margin:10px 0px;"><i class="w3-xxlarge fa fa-map-marker"></i></div>
								<div class="w3-rest"><h3 class="contact-address-title">Address</h3></div>
							</div><!-- w3-row -->
							<span class="contact-church-name">${custom_text---church_name}</span>
							<span class="contact-address-street">${custom_text---street}</span>
							<span class="contact-address-town">${custom_text---town}</span>
							<span class="contact-address-county">${custom_text---county}</span>
							<span class="contact-address-postcode">${custom_text---postcode}</span>
						</div><!-- contact-address-box -->

						<div class="w3-col w3-half">
							<div class="contact-telephone">
								<div class="w3-row">
									<div class="w3-col w3-text-blue" style="width:50px; margin:10px 0px;"><i class="w3-xxlarge fa fa-phone"></i></div>
									<div class="w3-rest"><h3 class="contact-telephone-title">Telephone</h3></div>
								</div><!-- w3-row -->
								<span class="contact-telephone-number">${custom_text---telephone_number}</span>
							</div><!-- contact-telephone -->

							<div class="contact-email">
								<div class="w3-row">
									<div class="w3-col w3-text-blue" style="width:50px; margin:10px 0px;"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
									<div class="w3-rest"><h3 class="contact-email-title">Email</h3></div>
								</div><!-- w3-row -->
								<span class="contact-email-address">${custom_text---email_address}</span>
							</div><!-- contact-email -->
						</div><!-- w3-col -->
					</div><!-- w3-row -->
				</div><!-- contact-panel -->
				
				<div class="w3-container w3-section contact-postamble-box">
					<p class="contact-postamble">${custom_text---contact_postamble}</p>
				</div><!-- contact-postamble-box -->

            </div><!-- contact-text -->
		
		</div><!-- w3-container -->


		<div class="w3-container w3-section">            
            
            <div class="w3-container w3-section contact-form">
				
				<div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">

					<div class="main-content w3-container w3-section">
						<!-- page content goes here -->
						<div id="webapp_maindiv"></div>
						<!-- page content ends -->
					</div><!-- main-content -->
				
				</div><!-- w3-card -->

			</div><!-- contact-form -->
			
		</div><!-- w3-container -->


	</div><!-- w3-content -->
 

	<!--#include file="includes/call-to-action.html"-->


	<!--#include file="includes/footer.html" -->


<!--#include file="includes/postamble.html" -->
