<!--#include file="includes/preamble.html" -->


<!--#include file="includes/navbar.html" -->


<!--#include file="includes/header.html" -->


	<div class="main-content w3-container w3-section">
		<!-- page content starts -->

		<div class="w3-container w3-section">
			<h1 class="dashboard-welcome"><span class="webapp_logged_in_user"></span>'s Dashboard</h1>
			<span id="webapp_maindiv"></span>
		</div>

		<div class="w3-row">
			<div class="w3-container w3-half">
				<div class="search_wrapper">
					<h3>Search</h3>
					<div id="webapp_search_box"></div>
				</div>
			</div>
			<div class="w3-container w3-half">		
				<div id="stop_press_box">
					<div id="webapp_position_1"></div>
				</div>
			</div>
		</div>

<hr/>

		<div class="w3-row w3-section">
			<div class="w3-container w3-half">
				<div class="my_duties_wrapper">
					<h3>My Duties</h3>
					<div id="webapp_my_duties"></div>
				</div>
			</div>
			
			<div class="w3-container w3-half">
				<div class="prayer_diary_wrapper">
					<h3>Prayer Diary</h3>
					<div id="webapp_prayer_diary"></div>
				</div>
				<hr/>
				<div class="small_groups_wrapper">
					<h3>My Small Groups</h3>
					<p class="w3-center"><a class="primary-button w3-button w3-round" href="https://cambraybaptist.churchbuilder.org.uk/pjp/group_tree_editor2/render?group=Small+groups">View My Groups</a></p>
				</div>				
			</div>
		</div>

<hr/>

		<div class="w3-container w3-section">
			<div id="upcoming_events_wrapper">
				<h3>Upcoming Events</h3>
				<div id="webapp_calendar_frontpage" class="frontcalendar">
				</div>
			</div>
		</div>


		<!-- page content ends -->
	</div>
	
<!--#include file="includes/call-to-action.html"-->

<!--#include file="includes/footer.html"-->

<!--#include file="includes/postamble.html" -->
