<!--#include file="includes/preamble.html" -->


<!--#include file="includes/navbar.html" -->


<!--#include file="includes/header.html" -->


	<div class="main-content">

		<!-- Page Welcome Section -->
		<div class="w3-container w3-section w3-padding-64">
			<div class="w3-content w3-center">
				<div class="welcome-panel" id="webapp_maindiv"></div>
			</div>
		</div>

		<!-- Panel 1 section -->
		<div class="panel1 panel-row ${custom_text---panel1_displayed}">
			<div class="panel1-image w3-container panel-cell" style="background: url(${custom_image_url---panel1_image}) center/cover;"></div>
			<div class="panel1-text-container panel-cell">
				<div class="w3-container w3-padding-32">
					<div id="webapp_position---11" class="panel1-text"></div>
				</div>
			</div>
		</div> 
		<!-- End Panel 1 section -->

		<!-- Panel 2 section -->
		<div class="panel2 panel-row ${custom_text---panel2_displayed}">
			<div class="panel2-text-container w3-container panel-cell">
				<div class="w3-container w3-padding-32">
					<div id="webapp_position---12" class="panel2-text"></div>
				</div>
			</div>
			<div class="panel2-image w3-container panel-cell" style="background: url(${custom_image_url---panel2_image}) center/cover;"></div>
		</div> 
		<!-- End Panel 2 section -->

		<!-- Testimonial section -->
		<div class="testimonial-panel panel-row ${custom_text---testimonial_displayed}" style="width: 100%;">
			<div class="testimonial1-container w3-container panel-cell" style="width=32%; background-color: ${custom_text---testimonial_colour_1};">
				<div class="w3-container w3-padding-24">
					<div id="webapp_position---15" class="testimonial1-text"></div>
				</div>
			</div>
			<div class="testimonial2-container w3-container panel-cell"  style="width=32%; background-color: ${custom_text---testimonial_colour_2};">
				<div class="w3-container w3-padding-24">
					<div id="webapp_position---16" class="testimonial2-text"></div>
				</div>
			</div>
			<div class="testimonial3-container w3-container panel-cell"  style="background-color: ${custom_text---testimonial_colour_3};">
				<div class="w3-container w3-padding-24">
					<div id="webapp_position---17" class="testimonial3-text"></div>
				</div>
			</div>
		</div> 
		<!-- End Panel 2 section -->

		<!-- Panel 3 section -->
		<div class="panel3 panel-row ${custom_text---panel3_displayed}">
			<div class="panel3-image w3-container panel-cell" style="background: url(${custom_image_url---panel3_image}) center/cover;"></div>
			<div class="panel3-text-container w3-container panel-cell">
				<div class="w3-container w3-padding-32">
					<div id="webapp_position---13" class="panel3-text"></div>
				</div>
			</div>
		</div> 
		<!-- End Panel 3 section -->

		<!-- Panel 4 section -->
		<div class="panel4 panel-row ${custom_text---panel4_displayed}">
			<div class="panel4-text-container w3-container panel-cell">
				<div class="w3-container w3-padding-32">
					<div id="webapp_position---14"  class="panel4-text"></div>
				</div>
			</div>
			<div class="panel4-image w3-container panel-cell" style="background: url(${custom_image_url---panel4_image}) center/cover;"></div>
		</div> 
		<!-- End Panel 4 section -->

		<!-- Bottom section --> 
		<div class="w3-container w3-section w3-padding-64 ${custom_text---bottom-section-displayed}">
			<div class="w3-content w3-center">
				<div class="bottom-panel" id="webapp_position---3"></div>
			</div>
		</div>
		<!-- Bottom section --> 

	</div>


<!--#include file="includes/footer.html" -->


<!--#include file="includes/postamble.html" -->
