<!--#include file="includes/preamble.html" -->


<!--#include file="includes/navbar.html" -->


<!--#include file="includes/header.html" -->


	<div class="main-content">

		<!-- Top Section -->
		<div class="top-section w3-container w3-section w3-padding-64">
			<div class="w3-content w3-center">
				<div id="webapp_maindiv" class="top-section-content"></div>
			</div>
		</div>
		<!-- End Top Section -->

		<!-- Section 1 section -->
		<div class="section-1 section-wrapper ${custom_text---section1_displayed}">
			<div class="section-image-box w3-container w3-section w3-center w3-padding-64" style="background: url(${custom_image_url---section1_image}) center/cover;">
				<h1 class="image-text">${custom_text---section1_header}</h1>
			</div>
			<div class="section-text-box w3-container w3-content w3-padding-32">
				<div id="webapp_position---1" class="section-content"></div>
			</div>
		</div>
		<!-- End Section 1 section -->

		<!-- Section 2 section -->
		<div class="section-2 section-wrapper ${custom_text---section2_displayed}">
			<div class="section-image-box w3-container w3-section w3-center w3-padding-64" style="background: url(${custom_image_url---section2_image}) center/cover;">
				<h1 class="image-text">${custom_text---section2_header}</h1>
			</div>
			<div class="section-text-box w3-container w3-content w3-padding-32">
				<div id="webapp_position---2" class="section-content"></div>
			</div>
		</div>
		<!-- End Section 2 section -->

		<!-- Section 3 section -->
		<div class="section-3 section-wrapper ${custom_text---section3_displayed}">
			<div class="section-image-box w3-container w3-section w3-center w3-padding-64" style="background: url(${custom_image_url---section3_image}) center/cover;">
				<h1 class="image-text">${custom_text---section3_header}</h1>
			</div>
			<div class="section-text-box w3-container w3-content w3-padding-32">
				<div id="webapp_position---3" class="section-content"></div>
			</div>
		</div>
		<!-- End Section 3 section -->

		<!-- Section 4 section -->
		<div class="section-4 section-wrapper ${custom_text---section4_displayed}">
			<div class="section-image-box w3-container w3-section w3-center w3-padding-64" style="background: url(${custom_image_url---section4_image}) center/cover;">
				<h1 class="image-text">${custom_text---section4_header}</h1>
			</div>
			<div class="section-text-box w3-container w3-content w3-padding-32">
				<div id="webapp_position---4" class="section-content"></div>
			</div>
		</div>
		<!-- End Section 4 section -->

		<!-- Bottom section --> 
		<div class="bottom-section w3-container w3-section w3-padding-64 ${custom_text---bottom_section_displayed}">
			<div class="w3-content w3-center">
				<div class="bottom-section-content" id="webapp_position---5"></div>
			</div>
		</div>
		<!-- Bottom section --> 

	</div>


<!--#include file="includes/footer.html" -->


<!--#include file="includes/postamble.html" -->
