	<!-- Styles that must be set inline, because they use template customisation parameters -->
	<style>
		/* Colours */
		:root {
			--primary-colour: ${custom_text---primary-colour};
			--primary-colour-lighter: ${custom_text---primary-colour-lighter};
			--primary-colour-darker: ${custom_text---primary-colour-darker};
			--complementary-colour-1: ${custom_text---complementary-colour-1};
			--complementary-colour-1-lighter: ${custom_text---complementary-colour-1-lighter};
			--complementary-colour-1-darker: ${custom_text---complementary-colour-1-darker};
			--complementary-colour-2: ${custom_text---complementary-colour-2};
			--complementary-colour-2-lighter: ${custom_text---complementary-colour-2-lighter};
			--complementary-colour-2-darker: ${custom_text---complementary-colour-2-darker};
			--link-colour: ${custom_text---link-colour};
			--link-hover-colour: ${custom_text---link-hover-colour};
			--top-menu-colour: ${custom_text---top-menu-colour};
			--boxes-colour: ${custom_text---boxes_colour};
			--boxes-background-colour: ${custom_text---boxes_background_colour};
			--boxes-image: url(${custom_image_url---boxes_image});
			--footer-colour: ${custom_text---footer-colour};
			--footer-background-colour: ${custom_text---footer-background-colour};			
		}
	</style>

