<!DOCTYPE html>
<html lang="en">

<head>
	<title>${church_name}</title>
	
	<!-- META -->	
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>${page_title}</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="imagetoolbar" content="false" />


	<!-- Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/template/icons/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/template/icons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/template/icons/favicon-16x16.png" />
	<link rel="manifest" href="/template/icons/site.webmanifest" />
	<link rel="mask-icon" href="/template/icons/safari-pinned-tab.svg" color="#5bbad5" />
	<meta name="msapplication-TileColor" content="#2b5797" />
	<meta name="theme-color" content="#ffffff" />
	

	<!-- RSS -->
	<link rel="alternate" href="/rss" type="application/rss+xml" title="rss" />


	<!-- CSS -->
	<link rel="stylesheet" href="/pj/stylesheet.css" type="text/css" />
	<link rel="stylesheet" href="/churchbuilder/stylesheet.css" type="text/css" />
	<!-- link rel="stylesheet" href="/pj/stylesheet.css?${customisation_hash}" type="text/css"/ -->
	<!-- link rel="stylesheet" href="/churchbuilder/stylesheet.css?${customisation_hash}" type="text/css"/ -->


	<!-- W3.CSS -->
	<link rel="stylesheet" href="/template/styles/w3.css" />
	<!-- link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/ -->
	<link rel="stylesheet" href="/template/styles/font-awesome-4.7.0/css/font-awesome.min.css" />
	<!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/ -->
	<!-- link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en"/ -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" /> 


	<!-- Style settings from customisation parameters -->
	<!--#include file="inline-styles.html"-->


	<!-- Styles -->
	<link rel="stylesheet" href="/template/styles/w3-slider.css" type="text/css" />
	<link rel="stylesheet" href="/template/styles/w3-2015-styles.css" type="text/css" />
	<link rel="stylesheet" href="/template/styles/cb-overrides.css" type="text/css" />


	<style>
	${custom_text---custom_css}
	</style>


	<!-- Scripts -->
	<script type="text/javascript" src="${https_redirector}"></script>
	<script type="text/javascript" src="/template/js/jquery-1.7.1.min.js"></script>
	
</head>


<body>



