
	<!-- Navbar -->

	<!-- Navbar on small screens -->
	<div id="navSidebar" class="top-side-menu-bar w3-sidebar w3-bar-block w3-hide-large w3-large w3-animate-left">
		<button class="w3-bar-item w3-button w3-large w3-red" onclick="w3_close()">Close &times;</button>	  
		<div id="webapp_ul_menu---main_menu---menu_spec_2"></div>
	</div>

	<!-- Normal Navbar -->
	<div class="top-menu-bar w3-bar w3-card w3-left-align w3-medium">
		<button class="w3-bar-item w3-button w3-hide-large w3-padding-large w3-hover-white w3-large w3-red" onclick="w3_open()">&#9776;</button>
		<a href="/" class="logo-item w3-bar-item w3-button logo"><img src="${custom_image_url---logo}" alt="church logo"  style="max-height: 40px;"></a>
		<div class="main-menu-bar w3-right w3-hide-small w3-hide-medium" style="padding: 8px 32px 8px 16px;" id="webapp_ul_menu---main_menu---menu_spec_1"></div>
	</div>

	<!-- END Navbar -->


